@model Employee


<div class="container" style="padding-top:200px">
    <div>
        <div>
            <p>@Model.Name</p>
            <p>@Model.Surname</p>
            <p>@Model.Description</p>
            <p>@Model.Position.Name</p>
        </div>
        <img style="width:300px; height:300px" src="~/uploads/places/@Model.ImageUrl" />
    </div>


</di>